<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3>Basic Information</h3>
<p>Name: Kautsar Fadlillah</p>
<p>Birthdate & Birthplace: Mataram, West Nusa Tenggara, Indonesia</p>
<p>Address: Jl. Gunung Merapi dst.. </p>
<p>Education: Faculty of Computer Science, University of Indonesia (expected graduation 2020)</p>
<br/>
<p>I'm a student at Faculty of Computer Science, University of Indonesia.
    Currently trying to get better at Competitive Programming.</p>
<p th:if="${visitor}" th:text="${visitor} + ', I hope you interested to hire me'" >
<p th:unless="${visitor}" th:text="'This is my CV'" >
</body>
</html>
